<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the completely underwhelming job and resume search database!  Here you can submit your resumes,
      add skills that you have that you think companies are looking for, look for companies looking for people like you,
      or even add your company to our ever expanding database and use us to help find YOU the ideal future employee!</p>
    <p>____________________________________________________</p>

    <br />
    <a href="/account/all">User Accounts</a>
    <p>Go here to view or add yourself to our current list of user accounts.</p><br />

    <a href="/company/all">Companies</a>
    <p>Go here to view or add yourself to our current list of companies.</p> <br />

    <a href="/resume/all">Resumes</a>
    <p>Go here to view all resumes submitted to our database or to add one of your own.</p> <br />

    <a href="/skill/all">Skills</a>
    <p>Go here to view the various skills our users have, and to see what skills they are bringing to the table.</p> <br />

    <a href="/about/page">About</a>
    <p>Go here to discover information about this site.</p>


    <br />

  </body>
</html>
