<%- include("../includes/header.ejs", {title:"Relational Diagram"}); %>

<h1>Relational Schema</h1>
<br />

<img src="RSchema.jpg" alt="Relational Schema" style="width:869px;height:939px;">
<br />
<small><i>(If for any reason the image does not display, please see the source files for the image file.)</i></small>

<%- include("../includes/footer.ejs"); %>