<%- include("../includes/header.ejs", {title:"About"}); %>

<h1>About</h1>
<br />

<p>The purpose of this website is to allow users to not only add resumes and skills for companies to view, but also for
    companies to add themselves to our database to allow them to search for users that best fit what they are looking for
    in an ideal employee.</p>
<p>The company that developed this site is "OverWorked Student Inc.", a subsidiary of "My Brain is Melting & Co.". The
    primary developer (in fact, the ONLY developer) of this site is John Eggers, one of the founding members of an
    organization known as "My Fingers Hurt."</p>
<p>To get in contact with any of the people or oranizations mentioned above, please contact us using the information provided below:</p>
<p>Mailing Address: 35602 Binary Blvd., Sonoma, California, 25772</p>
<p>Email: codehasfeelingstoo@att.net</p>

<p>____________________________________________________</p><br />

<p>Click the links below to view an image of the ER diagram or the Relational Schema that was used to construct this website.</p>
<a href="/about/erdiagram">ER Diagram</a><br />
<a href="/about/rschema">RelationalSchema</a>


<%- include("../includes/footer.ejs"); %>