<%- include("../includes/header.ejs", {title:"ER Diagram"}); %>

<h1>ER Diagram</h1>
<br />

<img src="ERDiagram.jpg" alt="ER Diagram" style="width:1015px;height:889px;">
<br />
<small><i>(If for any reason the image does not display, please see the source files for the image file.)</i></small>

<%- include("../includes/footer.ejs"); %>